{{#each this}}
  <p class='book-category'>{{list_name}}</p>
  <ul class='book-category-list'>
    {{#each books}}
      <li class='book-category-list-card'>
        <a class='book-category-hover-effect-container' href='#'>
          <img
            class='book-category-list-img'
            data-id='{{_id}}'
            src='{{book_image}}'
            alt='{{title}}'
          />
          <div class='overlay'>
            <p class='book-category-hover-effect'>QUICK VIEW</p>
          </div>
        </a>
        <h3 class='book-category-list-category-book-name'>{{title}}</h3>
        <p class='book-category-list-book-author'>{{author}}</p>
      </li>
    {{/each}}
  </ul>
  <div class='button-container'>
    <button
      class='book-category-btn'
      data-category='{{list_name}}'
      type='button'
    >SEE MORE</button>
  </div>
{{/each}}