{{#each this}}
  <li class='shopping-list-item' data-id='{{this._id}}'>
    <img
      class='shopping-item-img'
      src='{{this.book_image}}'
      alt='{{this.title}}'
    />
    <div class='shopping-item-info'>
      <h2 class='shopping-item-title'>{{this.title}}</h2>
      <p>{{this.list_name}}</p>
      <div class='shopping-descr-container'>
        <p class='shopping-item-descr'>{{this.description}}</p>
      </div>
      <p>{{this.author}}</p>
    </div>
    <button class='shopping-item-btn'></button>
  </li>
{{/each}}